/* <DIV> Styles */
.reset-password-main-div {
    width: 100%;
    height: 100px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.reset-password-sub-div {
    width: 60%;

    margin-top: 50px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    backdrop-filter: grayscale(50%);
    border: 1px solid #ffffff22;
    background-image: linear-gradient(45deg, black, transparent);
    border-radius: 0.7rem;
    box-shadow: -2px 2px 2px #FFE, 0px 3px 10px 5px #00000088;

    overflow: hidden;
    transition: 1s ease-in-out;
}

.reset-password-sub-div::before {
    content: "";
    width: 100px;
    height: 100px;

    position: absolute;
    top: -30px;
    left: -30px;
    /* transform: translateX(-200%); */

    background-image: linear-gradient(
        35deg,
        #24C6DC,
        #514A9D
    );
    transition: all 1s;
    z-index: -1;
    /* border-radius: 0.7rem; */
    border-radius: 100%;

    transition: 3s ease-in-out;
}

.reset-password-sub-div:hover::before{
    transform: scale(20);
}

.reset-password-sub1-div {
    width: 100%;
    height: 100%;

    margin-top: 10px;
    padding: 5px;
}

.reset-password-button-div {
    width: 100%;
    height: 30%;

    margin: 40px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.reset-password-subtitle-div {
    width: 100%;

    padding: 2px;
    margin-left: 70px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.reset-password-input-div {

}

.change-password-sub4-div {
    width: 100%;
    height: 30%;

    margin: 10px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/* <H5> Styles */
.subtitle {
    color: white;
}

/* <INPUT> Styles */
.password-input {
    width: 80%;
    height: 100%;

    padding: 10px;
    margin: 10px;

    position: relative;
    
    background-color: #ffffff;

    border: 0px;
    border-radius: 5px;

    top: -2px; 
}


/* <BUTTON> Styles */
.change-password-button {
    margin: 10px;
}

