/* <DIV> Styles */
.password-validation-main-invalid-div {
    width: 80%;
    height: 100%;

    background-image: linear-gradient(35deg, #f953c6 0%, #b91d73 100%, transparent);
/*     backdrop-filter: grayscale(50%); */
    border: 1px solid #ffffff22;
    border-radius: 0.7rem;
    /*box-shadow: -2px 2px 2px #FFE, 0px 3px 10px 5px #00000088; */
}

.password-validation-main-valid-div {
    width: 80%;
    height: 100%;
    background-image: linear-gradient(35deg, #11998e 0%, #38ef7d 100%, transparent);
    /* backdrop-filter: grayscale(50%); */
    /* border: 1px solid #ffffff22; */
    border-radius: 0.7rem;
    /* box-shadow: -2px 2px 2px #FFE, 0px 3px 10px 5px #00000088;*/
}

/* Valid Password */
.password-validation-lowercase-invalid-li {
    position: relative;
}

.password-validation-lowercase-invalid-li::before {
    content: "\2A2F";  

    width: 20px;
    height: 20px;
    
    left: -30px;
    top:0;

    font-family: FontAwesome;
    position:absolute;
}

.password-validation-uppercase-invalid-li {
    position: relative;
}

.password-validation-uppercase-invalid-li::before {
    content: "\2A2F";  

    width: 20px;
    height: 20px;
    
    left: -30px;
    top:0;

    font-family: FontAwesome;
    position:absolute;
}

.password-validation-number-invalid-li {
    position: relative;
}

.password-validation-number-invalid-li::before {
    content: "\2A2F";  

    width: 20px;
    height: 20px;
    
    left: -30px;
    top:0;

    font-family: FontAwesome;
    position:absolute;
}

.password-validation-length-invalid-li {
    position: relative;
}

.password-validation-length-invalid-li::before {
    content: "\2A2F";  

    width: 20px;
    height: 20px;
    
    left: -30px;
    top:0;

    font-family: FontAwesome;
    position:absolute;
}

/* Invalide Password */
.password-validation-lowercase-valid-li {
    position: relative;
}

.password-validation-lowercase-valid-li::before {
    content: "\2714";  

    width: 20px;
    height: 20px;
    
    left: -30px;
    top:0;

    font-family: FontAwesome;
    position:absolute;
}

.password-validation-uppercase-valid-li {
    position: relative;
}

.password-validation-uppercase-valid-li::before {
    content: "\2714";  

    width: 20px;
    height: 20px;
    
    left: -30px;
    top:0;

    font-family: FontAwesome;
    position:absolute;
}

.password-validation-number-valid-li {
    position: relative;
}

.password-validation-number-valid-li::before {
    content: "\2714";  

    width: 20px;
    height: 20px;
    
    left: -30px;
    top:0;

    font-family: FontAwesome;
    position:absolute;
}

.password-validation-length-valid-li {
    position: relative;
}

.password-validation-length-valid-li::before {
    content: "\2714";  

    width: 20px;
    height: 20px;
    
    left: -30px;
    top:0;

    font-family: FontAwesome;
    position:absolute;
}

/* <H3> Styles */
.password-validation-title-h3 {
    

}

/* <UL> Styles */
.password-validation-ul {
    margin-left: 50px;

    display: flex;
    flex-direction: column;
    
    color: white;
    text-decoration: none;
    list-style: none;
}
