/* <DIV> Styles */
.chat__sidebar {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    color: rgb(228, 225, 225);
    /* background-color:#000000; */
}

.chat__tab {
    width: 90%;
    height: 100%;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    /* background-image: linear-gradient(35deg, #1c92d2 0%, #f2fcfe 100%); */
    background-color: #054574;

    border-bottom: 2px solid rgb(3, 3, 3);
    overflow: hidden;
    transition: 1s ease-in-out;
    cursor: pointer;
    box-sizing: content-box;
    border-radius: 20px;
}

.chat__tab:hover {
    background-image: linear-gradient(35deg,
            #24C6DC,
            #514A9D);
    transition: all ease-in-out;
}

/* <P> Styles */
.chat_name {
    color: white;
    z-index: 2;
}

/* <ICON> Styles */
.chat__icon {
    color: white;

    margin: 10px;
    z-index: 2;
}