.card {
  width: 100%;
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
/*   background-image: linear-gradient(
    109.6deg,
    rgba(62, 161, 219, 1) 11.2%,
    rgb(15, 25, 85) 100.2%
  ); */
}

/* Background Circle*/

.circles {
  position: absolute;
  height: 270px;
  width: 450px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.circle-1 {
  position: absolute;
  top: -50px;
  border-radius: 50%;
  background: radial-gradient(#006db3, #29b6f6);
  left: 10px;
  height: 160px;
  width: 160px;
}
.circle-2 {
  position: absolute;
  border-radius: 50%;
  background: radial-gradient(#006db3, #29b6f6);
  right: 40px;
  top: 80px;
  opacity: 0.8;
  height: 160px;
  width: 160px;
}

/* Card */

.card {
  background-repeat: no-repeat;
  width: 380px;
  height: 230px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  /* background: rgba(255, 255, 255, 0.4); */
  border-radius: 10px;
  z-index: 1;
  overflow: hidden;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  position: relative;
  background-color: currentcolor;
  background-size: cover;
  background-image: url(/src/assets/img/wallet.svg);
  display: flex;
  align-content: flex-end;
  align-items: center;
  justify-content: flex-end;

}

.visa_logo {
  float: right;
  padding: 10px;
}

.visa_logo img {
  width: 70px;
  height: 40px;
}

.visa_info {
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(45deg, black, transparent);
  border-radius: 10px;
  padding: 10px;
}

.visa_info img {
  width: 60px;
  height: 45px;
}

.visa_info p {
  font-size: 22px;
  padding: 10px 0;
  letter-spacing: 2px;
  color: #ffffff;
}

.visa_crinfo {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  color: #ffffff;
}
