.div-schedule {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 800px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.button-schedule {
  background-color:#052a51;
  color: #ffffff
}