div {
    width: 100%;
}

.checkout-table {
    /* width: 90%; */
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}


th {
    background-color: #e9e9e9;
    font-weight: bold;
    text-align: center;
    padding: 8px;
    border: 1px solid #ddd;
}

td {
    padding: 8px;
    border: 1px solid #ddd;
}


.totalprice-container {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    text-align: right;
    background-color: #dfdfdf;
    margin-left: 85px;
    margin-right: auto;
    width: 90%;
}

.Delivery-header {
    font-size: 24px;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 70px;
    text-align: left;
    color: #333;
    padding: 10px;

}

.ddl-container {
    text-align: center;
    top: 0;
    z-index: 100;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 90%;

}

.ddl-select {
    margin-left: 6px;
    height: 40px;
    width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

.ddl-newAddContainer {
    max-width: 400px;
    text-align: center;
    top: 0;

}

.ddl-newAddselect {
    margin-left: 520px;
    height: 40px;
    width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

.address-container {
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
}

.newAddress-input {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    text-align: center;

}

.addAddress-button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #77D970;
    cursor: pointer;
    margin-left: 75px;
    margin-bottom: 10px;
    float: left;
}

.saveAddress-button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #054574;
    color: white;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 10px;
}

.cancel-button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #a4a4a4;
    color: white;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 10px;
}

.proceedPayment-button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    background-color: #87CEEB;
    cursor: pointer;
    margin-top: 50px
}