.result-container {
    margin-top: 100px;
}

.ddl-container {
    text-align: center;
    margin-top: 40px;
    margin-left: 90px;
    position: relative;
    top: 0;
    z-index: 100;
    align-items: center;
}

.ddl-select {
    margin-left: 6px;
    height: 40px;
    width: 240px;
    padding: 10px;
    border: 1px solid #ccc;
}

.ddl-select option {
    text-align: center;
}

.ddl-label {
    margin-left: 350px;
    font-weight: bold;
}

.list-title {
    text-align: center;
    margin-right: 800px;
    transform: translateY(150px);
    position: relative;
    z-index: 100;
}

.medTable {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    /* Example width to ensure the table doesn't stretch the full width of the container */
}