/* <DIV> Class Selectors */
.admin-info-main-div {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-info-top-div {
    width: 100vw;
    height: 20vh;

    margin: 10px 0px 10px 0px;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.admin-info-bottom-div {
    width: 100%;
    height: 100%;
    
    margin: 10px 0px 10px 0px;
    box-sizing: border-box;

    display: flex;
    
    align-items: center;
    justify-content: center;
}

.admin-info-left-div {
    width: 12vw;
    height: 10vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-info-right-div {
    width: 80vw;
    height: 100%;

    display: flex;
    align-items: flex-start;
    justify-content: left;
    flex-direction: row;
}

.admin-information-div {
    width: 85%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;   
}

.admin-settings-div {
    padding: 20px;
}

.admin-information-sub-div {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.admin-information-left-div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.admin-information-right-div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

/* <IMG> Class Selectors */
.admin-info-img {
    width: 10vw;
    height: 10vw;

    border-radius: 100%;
    border: 1px solid #00000022;
    box-shadow: 
    -2px -2px 6px rgba(#fff, .6),
    0px 0px 50px 10px #00000088;

    transition: 1s all ease-in-out;
}

