/* WalletInfo.module.css */

.walletContainer {
  text-align: center;
  margin: 20px;
}

.squareContainer {
  text-align: center;
  /* Center text horizontally */
  width: 200px;
  /* Set the width for a square shape */
  height: 200px;
  /* Set the height for a square shape */
  background-color: #009688;
  /* Background color for the square */
  color: white;
  /* Text color */
  border-radius: 10px;
  /* Rounded corners for the square */
  margin: 20px auto;
  /* Center the square horizontally and add vertical margin */
  display: flex;
  justify-content: center;
  align-items: center;
}

.walletSquare {
  width: 200px;
  /* Adjust the size as needed */
  height: 200px;
  /* Adjust the size as needed */
  background-color: #009688;
  /* Background color for the square */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  /* Rounded corners for the square */
}

.centeredContainer {
  text-align: center;
  /* Center text horizontally */
  margin-top: 20px;
  /* Add margin for spacing */
}

.walletAmount {
  font-size: 24px;
  /* Font size for the wallet amount */
  color: #fff;
  /* Text color */
}

.walletContainer {
  text-align: center;
  /* Center text horizontally */
  width: 700px;
  /* Set the width for a square shape */
  height: 270px;
  /* Set the height for a square shape */
  background-color: #92aca4;
  /* Background color for the square */
  color: white;
  /* Text color */
  border-radius: 10px;
  /* Rounded corners for the square */
  margin: 20px auto;
  /* Center the square horizontally and add vertical margin */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.walletHeader,
.walletFooter {
  background-color: #787878;
  /* Header and footer background color */
  padding: 10px;
}

.walletAmount {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.largeText {
  font-size: 15px;
  /* Adjust the font size to make the text larger */
}

.moneyIcon {
  width: 160px;
  /* Adjust the width to make the image smaller */
  height: 160px;
  /* Adjust the height accordingly */
}


/* Additional styling can be added as needed */