.appointment-patient-container {
    max-width: 700px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .appointment-patient-container div {
    display: inline-block;
    margin-right: 20px; 
  }
  
  
  label {
    display: inline;
    padding : 30px;
  }

  .h2-book {
    text-align: left;
    
}

h4{
    color: rgb(66, 66, 183);
    font-size: 14pt;
    display: inline;
}

.button-2 {
  background-color: rgb(16, 16, 93);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 50px;
}

.button-2:hover {
  background-color: darkblue;
}

select{
  display: inline;
}