/* <DIV> Styles */
.change-password-main-div {
    width: 30%;
    margin-top: 50px;
    backdrop-filter: grayscale(50%);
    border: 1px solid #ffffff22;
    background-image: linear-gradient(45deg, #000000 0%, #125594 50%, #ffffff 100%);
    border-radius: 0.7rem;
    /* box-shadow: -2px 2px 2px #FFE, 0px 3px 10px 5px #00000088; */
    overflow: hidden;
    transition: 1s ease-in-out;
}

.change-password-sub1-div {
    width: 100%;
    height: 40%;

    margin-top: 10px;
    padding: 5px;
}

.change-password-sub2-div {
    width: 100%;
    height: 40%;

    margin-top: 10px;
    padding: 5px;
}

.change-password-sub3-div {
    width: 100%;
    height: 30%;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.change-password-sub1-subtitle-div {
    width: 100%;
    padding: 2px;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.change-password-sub2-subtitle-div {
    width: 100%;

    padding: 2px;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.change-password-sub4-div {
    width: 100%;
    height: 30%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* <LABEL> Styles */
.subtitle {
    padding: 0px;
    
    color: white;
}

/* <INPUT> Styles */
.password-input {
    width: 80%;
    height: 100%;

    padding: 10px;
    margin: 10px;

    position: relative;
    
    background-color: #ffffff;

    border: 0px;
    border-radius: 5px;

    top: -2px; 
}


/* <BUTTON> Styles */
.change-password-button {
    margin: 10px;
}

