/* <DIV> Styles */
.reset-password-main-div {
    width: 100%;
    height: 89vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.send-password-title-div {
    width: 900px;
    height: 100vh;
}

.password__main__div {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../../../assets//img/password.svg');
}

.reset-password-sub-div {
    width: 60%;
    margin-top: 50px;
    backdrop-filter: grayscale(50%);
    border: 1px solid #ffffff22;
    backdrop-filter: grayscale(50%);
    border: 1px solid #ffffff22;
    background-image: linear-gradient(45deg, #000000 0%, #125592 100%);
    border-radius: 0.7rem;
    /* box-shadow: -2px 2px 2px #FFE, 0px 3px 10px 5px #00000088; */
    overflow: hidden;
    transition: 1s ease-in-out;
}

.reset-password-sub1-div {
    width: 100%;
    height: 40%;
    padding: 5px;
}

.reset-password-button-div {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.reset-password-subtitle-div {
    width: 100%;
    padding: 2px;
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}



.change-password-sub4-div {
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/* <INPUT> Styles */
.password-input {
    width: 80%;
    height: 100%;

    padding: 10px;
    margin: 10px;

    position: relative;

    background-color: #ffffff;

    border: 0px;
    border-radius: 5px;

    top: -2px;
}


/* <BUTTON> Styles */
.reset-password-button {
    margin-top: 10px;
    width: 100%;
    background-image: linear-gradient(45deg, #000000 0%, #125992 50%, #ffffff 100%);
    color: white;
}

/* <LABEL> Styles */
.subtitle {
    width: 100%;
    padding: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: white;

}

.main__div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title__div {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

/* <IMG> Styles */
.reset__password__img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 10px;
}