.medimage {
    width: 400px;
    height: 400px;
}

div {
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: center;
    padding: 8px;
    border: 1px solid #ddd;
}

th2 {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: center;
    padding: 8px;
    border:none;
}

td {
    padding: 8px;
    border: 1px solid #ddd;
}
td2 {
    padding: 8px;
    text-align: center;
    margin-top: 20px;
    border: none;
}

tr {
    transition: background-color 0.1s;
}

tr:hover {
    background-color: #efefef;
}

li,
ul {
    text-align: justify;
}

.green-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}


.out-of-stock {
    color: #FF0000;
}

.alter {
    color:#4CAF50;
}

.alternatives {
    content: '\2022'; /* Unicode character for a bullet point */
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}