/* .root {} */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.navbar {
  width: 100vw;
  height: 7vh;
  display: flex;
  align-items: start;
  justify-content: left;
  background: linear-gradient(35deg, rgb(43, 37, 46) 0%, rgb(48, 48, 95) 100%);
  flex-direction: row;
  list-style-type: none;
}

.navbar-list {
  width: 10vw;
  height: 7vh;
  list-style-type: none;
  display: flex;
  margin: 0px 0px 0px 100px;
  padding: 0px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.navbar-logo {
  width: 10vw;
  height: 7vh;

  display: flex;
  justify-items: center;
  align-items: center;
  align-content: center;
  margin-right: 300px;
  padding: 0px 0px 0px 10px;
  cursor: pointer;
}

.navbar-logo>a {
  width: 100%;
  text-decoration: none;
  color: white;
  border-right: 2px solid rgb(100, 97, 97);
  margin-right: 300px;

}

.navbar-list>li>a {
  text-decoration: none;
  color: white;
}