/* <DIV> Styles */
.logout-message-div {
    width: 32%;
    height: 25%;
    padding: 2px;
    margin: 25px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 25%;
    left: 35%;
    backdrop-filter: grayscale(50%);
    border: 1px solid #ffffff22;
    background-image: linear-gradient(45deg, #000000 0%, #125592 100%);
    border-radius: 0.7rem;
    /* box-shadow: -2px 2px 2px #FFE, 0px 3px 10px 5px #00000088; */
    transition: 1s ease-in-out;
    z-index: 1000;
}

.confirm-message-div {
    width: 100%;
    height: 50%;

    margin-left: 30px;
    padding: 0px;

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
}

.confirm-logout-div {
    width: 100%;
    height: 50%;

    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.cross-div {
    width: 15%;
    height: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-end;
    flex-wrap: wrap;
}

.logout__message__div {
    width: 80%;
    height: 100%;

    margin-top: 10px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;

}

/* <IMG> Styles */
.cross-message-img {
    width: 25px;
    height: 25px;

    cursor: pointer;
}

/* <H3> Styles */
h3 {
    text-decoration: none;
    color: white;
}

/* <BUTTON> Styles */
.confirm-logout-button {
    margin-right: 10px;

    cursor: pointer;
}

.confirm-logout-button:hover {
    background-color: rgb(0, 0, 0) ;
    color: #ffffff;
}