.medimage {
    width: 90px;
    height: auto;
}

div {
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: center;
    padding: 8px;
    border: 1px solid #ddd;
}

td {
    padding: 8px;
    border: 1px solid #ddd;
}

tr {
    transition: background-color 0.1s;
}

tr:hover {
    /* background-color: #efefef;*/
    background-color: initial !important;
    /* Try using !important to force removal */
}

li,
ul {
    text-align: justify;
}

.green-button {
    background-color: #0054ae;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

.archiveButton,
.unarchiveButton {
    width: 100px;
    padding: 8px;
    text-align: center;
    cursor: pointer;
}

.archiveButton:disabled,
.unarchiveButton:disabled {
    opacity: 0.5;
    cursor: default;
    border: none;
}

.archiveButton {
    margin-bottom: 4px;
    background-color: #41bd45;
    color: #fff;
}

.unarchiveButton {
    background-color: #d8d4d4;
}

.out-of-stock {
    color: #FF0000;
}